<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div style="text-align: center" id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> |
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> |
      本站访客数<span id="busuanzi_value_site_uv"></span>人次
    </div>
  </div>
</footer>